.button {
  background-color: #62a5bd;
  border-color: #62a5bd;
  color: white;
}

.button:hover {
  background-color: #62a5bd;
  border-color: #62a5bd;
}

.card {
  box-shadow: -3px 8px 25px 4px rgba(0, 0, 0, 0.1);
}

.card__img {
  max-height: 525px;
}
