.button {
  background-color: #62a5bd;
  border-color: #62a5bd;
  color: white;
}

.button:hover {
  background-color: #62a5bd;
  border-color: #62a5bd;
}

.card {
  box-shadow: -3px 8px 25px 4px rgba(0, 0, 0, 0.1);
}

.card__img {
  max-height: 525px;
}

.not-starred {
  font-size: 28px;
  position: relative;
  top: 12px;
  left: 10px;
  color: #d7d0cf;
  text-align: end;
  padding: 5px;
}

.starred {
  font-size: 28px;
  position: relative;
  top: 12px;
  left: 10px;
  color: rgb(207, 185, 96);
  text-align: end;
  padding: 5px;
}

.star-icon:hover {
  color: #ffdede;
}
