.button {
  background-color: #f1cac1;
  border-color: #f3e1dd;
  color: FFFF;
}

.button:hover {
  background-color: #62a5bd;
  border-color: #62a5bd;
}

.card {
  box-shadow: -3px 8px 25px 4px rgba(0, 0, 0, 0.1);
}
