.loading {
  margin-top: 30px;
  font-size: 22px;
  display: block;
  text-align: center;
}

.loadingImg {
  display: block;
  margin: 0 auto;
  max-width: 30%;
}

.starred-text {
  font-size: 22px;
  color: #f19abe;
  display: block;
  margin-top: 20px;
  text-align: center;
}
